:root{
    --radius: 5em; 
    --radius2 : 2.5em; /*should be 1/2 radius*/ 
}

body{
background-color: #f2e5e1;
}

 
.graph {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
  }

.slice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.branch {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    white-space: nowrap;
    min-height: calc(var(--radius)*2);
  }
              
.dot {
  display: inline-block;
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  background-color: #78c2ad;
  margin: var(--radius2);
  position: relative;
}


.dot:after
{
  content:'';
  width:var(--radius);
  border-bottom:3px solid;
  position:absolute;
  top:50%;
  color: #000;
}

.dot:before {
  content: attr(message); 
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */

  z-index: 3; /* Add this line to ensure tooltip appears above other dots */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}

.dot:hover:before {
  display:block;
}

:after {
  left:100%;
}
:before {
  right:100%;
}

.dot:last-of-type:after {
  display:none;
}

.dot.head {
  border: 3px solid black;
}

.dot.tagged {
  background-color: #f3969a;
}

/* Connection between branches*/
.branch:before{
    content: '';
    border-bottom: 3px solid;
    position: absolute;
    color: #000;
}

.branch.topbranch:before {
    width: calc(var(--radius)*2);
    left: calc(var(--radius)*-1);
    top: 105%;
    transform: rotate(132deg);
  }
  
.branch.samebranch:before {
    width: calc(var(--radius)*2);
    left: calc(var(--radius)*-1);
    top: 50%;
  }

.branch.main{
  background-color: #6cc3d533;
  border-radius: 5px; 
  align-items: flex-end;
}

.main.left{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 5px;
}

.main.right{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.branch.newbranch{
  background-color: #ff785133;
  border-radius: 5px; 
  padding-right: 3px;
  margin-right: 3px;
}

.branch.newbranch:after {
    content: 'New Branch';
  }
  
.branch.analysis2{
  background-color: #ff785133;
  border-radius: 5px; 
  padding-right: 3px;
  margin-right: 3px;
}

.branch.analysis2:after {
    content: 'Analysis2';
  }
  

.branch.samebranch2:before {
    width: calc(var(--radius)*7);
    left: calc(var(--radius)*-6);
    top: 50%;
    background-color: #6cc3d533;
  }
  
.branch.topbottom:before{
    width: calc(var(--radius)*3);
    left: calc(var(--radius)*-2);
    top: -10%;
    transform: rotate(220deg);
}

.box{
    border: 2px solid black;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: 1%;
    min-width: fit-content;
}


