  .graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .slice {
    display: flex;
    flex-direction: column;
  }

  .branch {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    white-space:nowrap; 
  }

  :root{
    --radius: 5em; 
    --radius2 : 2.5em; /*should be 1/2 radius*/ 
    } 
    
body{
background-color: #f2e5e1;
}
              
.dot {
  display: inline-block;
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  background-color: #78c2ad;
  margin: var(--radius2);
  position: relative;
}

.dot:after
{
  content:'';
  width:var(--radius);
  border-bottom:3px solid;
  position:absolute;
  top:50%;
  color: #000;
}

.dot:before {
  content: attr(message); 
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */

  z-index: 3; /* Add this line to ensure tooltip appears above other dots */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}

.dot:hover:before {
  display:block;
}

:after {
  left:100%;
}
:before {
  right:100%;
}

.dot:last-of-type:after {
  display:none;
}

.line {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  stroke-width: 3px;
    
  }

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index:-1;
  width: 100%;
  height: 100%;
}